/* Your Website Styles */
body {
	background: url("../img/bg.png");
}


img {
	width: 400px;
}

h1 {
	color: orange;
	font-family: 'Balthazar', serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

p {
	line-height: 24px;
}

h3 {
	color: #41F500;
	font-family: 'Balthazar', serif;
	font-weight: bold;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

.highlight {
	color: blue;
}