/* Your Website Styles */
body {
	background: url("../img/bg1.png");
}


img {
	width: 300px;
	border: 2px solid lightblue;
	margin-top: 25px;
}

h1 {
	color: orange;
	font-family: 'Clicker Script', 'cursive';
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
	font-size: 55px;
}

h2 {
	font-family: 'Playball', 'cursive';
	letter-spacing: 2px;
	color: orange;
}

p {
	line-height: 24px;
	color: white;
	padding: 5px;
}

.icons li a {
	background: url("../img/email.png") no-repeat;
	background-size: 40px;
	padding: 9px 12px 10px 40px;
	font-size: 12px;
	margin-left: -43px;
}

.email:hover {
	background: url("../img/emailhover.png") no-repeat;
	background-size: 40px;
	padding: 9px 12px 10px 40px;
	font-size: 12px;
	margin-left: -43px;
}

ul {
	list-style-type: none;
}
.create {
	text-align: center;
	color: darkblue;
}



/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

.highlight {
	color: blue;
}